doctype
html
  head
    link(rel='stylesheet', href='/css/style.css')
  body
    #cover
      div(class="grapes" style="background-image: url(/images/grapes_400.gif)")
    #container
      img(src="images/reload.svg" class="reload" id="reload")
    audio(id="death" src="sounds/11_Not_Afraid_To_Die_FINAL_10.2.14.mp3" preload="auto" controls)
    script(src="/js/app.js")