doctype
html
  head
    link(rel='stylesheet', href='/css/style.css')
  body
    #cover
      div(class="grapes" style="background-image: url(/images/temporary.gif)")
    #container
      img(src="images/reload.svg" class="reload" id="reload")
    audio(id="ambient" preload="auto" controls)
      source(src="sounds/amb.mp3")
      source(src="sounds/amb.ogg")
    audio(id="death" preload="auto" controls)
      source(src="sounds/11_Not_Afraid_To_Die_FINAL_10.mp3")
      source(src="sounds/11_Not_Afraid_To_Die_FINAL_10.ogg")
    script(src="/js/app.js")