doctype
html
  head
    link(rel='stylesheet', href='/css/style.css')
  body
    #cover
      div(class="grapes" style="background-image: url(/images/grapes_400.gif)")
    #container
      img(src="images/reload.svg" class="reload" id="reload")
    audio(src="sounds/1.ogg" preload="auto" controls)
    script(src="/js/app.js")