doctype
html
  head
    link(rel='stylesheet', href='/css/style.css')
  body
    #cover
      div(class="grapes" style="background-image: url(/images/Hot-Sugar-computer-Game-loading-screen.gif)")
    #container
      img(src="images/reload.svg" class="reload" id="reload")
    audio(id="ambient" preload="auto" controls)
      source(src="sounds/amb.mp3")
      source(src="sounds/amb.ogg")
    audio(id="death" preload="auto" controls)
      source(src="sounds/11_Not_Afraid_To_Die_FINAL_10.2.14.mp3")
    script(src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js")
    script(src="/js/app.js")