doctype
html
  head
    link(rel='stylesheet', href='/css/style.css')
  body
    #cover(style="background-image: url(http://media.giphy.com/media/2hRGyvgE0zfCE/giphy.gif)")
    #container
    audio(src="sounds/1.ogg" preload="auto" controls)
    script(src="/js/app.js")